html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #D1D1D1;
    color:#000;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 10px;
    right: 10px;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 20px;
}

.large-text {
    font-size: 24px;
}

/*.form-floating-group input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-icon-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}*/
.input-group:not(.has-validation) .form-floating:not(:last-child) > :not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) .form-floating > .dropdown-toggle:nth-last-child(n+3) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group.has-validation .form-floating:nth-last-child(n+3) > :not(.dropdown-toggle):not(.dropdown-menu),
.input-group.has-validation .form-floating > .dropdown-toggle:nth-last-child(n+4) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .form-floating:not(:first-child) > :not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    /*margin-left: -1px;*/
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* for form to be responsive */
.input-group > .form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.list {
    padding-left: 0;
    width: 30%;
}

    .list li {
        list-style: none;
    }

    .list a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        text-decoration: none;
        color: black;
    }

        .list a:after {
            display: inline-block;
            padding-left: 10px;
            padding-right: 5px;
            font-family: FontAwesome;
            content: "\f054";
        }

.bs-example {
    font-family: sans-serif;
    position: relative;
    margin: 100px;
}


.typeahead {
    background-color: #FFFFFF;
}

    .typeahead:focus {
        border: 2px solid #0097CF;
    }


.tt-hint {
    color: #999999;
}

.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    width: max-content;
}

.tt-suggestion .tt-selectable {
    width: fit-content;
}

.tt-suggestion {
    padding: 3px 20px;
    width: fit-content;
}

    .tt-suggestion:hover {
        cursor: pointer;
        background-color: #0097CF;
        color: #FFFFFF;
    }

    .tt-suggestion p {
        margin: 0;
    }

.lh-condensed {
    line-height: 1.25;
}

input.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback-details {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

invalid-feedback-details.visible {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.btn-matrix {
    flex-wrap: wrap;
}

    .btn-matrix > .btn {
        background-color: orange;
        width: 30px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 30px !important;
        text-align: center;
        padding: 0px;
        font-size: 12px;
    }

        .btn-matrix > .btn:checked {
            color: red;
            font-family: FontAwesome;
            content: "\f00d";
            font-size: 1.6em;
        }

        .btn-matrix > .btn.btn-none {
            background-color: transparent !important;
            color: black !important;
            font-weight: bold !important;
        }

        .btn-matrix > .btn.taken:disabled {
        }

        .btn-matrix > .btn.taken::after {
            color: red;
            font-family: FontAwesome;
            content: "\f00d";
            font-size: 1.6em;
        }

        .btn-matrix > .btn:nth-child(6n + 7) {
            margin-left: 0;
        }

        .btn-matrix > .btn:nth-child(n + 8) {
            margin-top: -1px;
        }

        .btn-matrix > .btn:first-child {
            border-bottom-left-radius: 0;
        }

        .btn-matrix > .btn:nth-child(7) {
            border-top-right-radius: 4px !important;
        }

        .btn-matrix > .btn:nth-last-child(7) {
            border-bottom-left-radius: 4px !important;
        }

        .btn-matrix > .btn:last-child {
            border-top-right-radius: 0;
        }
.nav-link:hover, .nav-link:focus {
    background-color: rgba(65,32,109,0.5);
    color: #fff;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.btn-matrix {
    margin: 20px;
    max-width: 210px;
}

.sidenav.navbar {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
}

.sidenav.navbar .navbar-nav {
    padding: 1.5rem;
    width: 100%;
}

.rounded-top-md {
    border-top-left-radius: .5rem
}

.rounded-end-md, .rounded-top-md {
    border-top-right-radius: .5rem
}

.rounded-bottom-md, .rounded-end-md {
    border-bottom-right-radius: .5rem
}

.rounded-bottom-md, .rounded-start-md {
    border-bottom-left-radius: .5rem
}

.rounded-start-md {
    border-top-left-radius: .5rem
}

.smooth-shadow-sm {
    box-shadow: 0 2px 4px rgba(0,0,20,.08),0 1px 2px rgba(0,0,20,.08)
}

.smooth-shadow-md {
    box-shadow: 0 1px 2px rgba(21,30,40,.07),0 2px 4px rgba(21,30,40,.07),0 4px 8px rgba(21,30,40,.07),0 8px 16px rgba(21,30,40,.07),0 16px 32px rgba(21,30,40,.07),0 32px 64px rgba(21,30,40,.07)
}

.smooth-shadow-lg {
    box-shadow: 0 1px 1px rgba(21,30,40,.11),0 2px 2px rgba(21,30,40,.11),0 4px 4px rgba(21,30,40,.11),0 8px 8px rgba(21,30,40,.11),0 16px 16px rgba(21,30,40,.11),0 32px 32px rgba(21,30,40,.11)
}

.min-h-100 {
    min-height: 100%
}

.min-h-0 {
    min-height: 0
}


    .navbar .dropdown-menu {
        border: none;
        border-radius: .5rem;
        box-shadow: 0 10px 30px 0 rgba(31,45,61,.26);
        color: #18113c;
        font-size: .875rem;
        line-height: 1.2rem;
        margin-top: 1.125rem 0;
        padding-top: 1rem 0;
        top: 26px
    }

        .navbar .dropdown-menu .dropdown-list-group-item {
            min-width: 100%
        }

        .navbar .dropdown-menu .dropdown-submenu a:after {
            position: absolute;
            right: 1rem;
            transform: rotate(-90deg)
        }

        .navbar .dropdown-menu .dropdown-submenu.dropend .dropdown-menu {
            border-radius: .5rem;
            box-shadow: 0 10px 30px 0 rgba(31,45,61,.1);
            left: 100%;
            min-width: 12rem;
            right: 0;
            top: -18px
        }

    .navbar .navbar-right-wrap .list-group-item {
        padding: 1rem 1.25rem
    }

    .navbar .nav-badge {
        position: absolute;
        right: 3px;
        top: -9px
    }

@media (max-width: 992px) {
    .navbar .navbar-nav .dropdown-menu {
        margin: 0
    }

        .navbar .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu {
            box-shadow: none;
            margin: 0
        }

    .navbar .nav-top-wrap {
        flex-direction: row
    }

        .navbar .nav-top-wrap .dropdown {
            position: static
        }

        .navbar .nav-top-wrap .dropdown-menu {
            margin: 2.25rem .75rem;
            position: absolute;
            right: 0
        }

            .navbar .nav-top-wrap .dropdown-menu .dropdown-submenu .dropdown-menu {
                padding: 0;
                position: relative;
                right: 0;
                top: -7px
            }
}

@media (min-width: 1200px) {
    .navbar .dropdown-menu {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s ease-in;
        visibility: hidden
    }

    .navbar .dropdown-menu-end {
        left: auto;
        right: 0
    }

    .navbar .dropdown-menu-start {
        left: 0;
        right: auto
    }

    .navbar .dropdown-submenu:hover > .dropdown-menu, .navbar .dropdown:hover > .dropdown-menu {
        opacity: 1;
        transform: scaleY(1);
        visibility: visible
    }
}

.navbar-default {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(3,0,71,.09)
}

    .navbar-default .navbar-nav .nav-item .nav-link {
        font-size: .875rem;
        font-weight: 500;
        padding: .3125rem .5rem
    }

@media (max-width: 1200px) {
    .navbar-default .navbar-nav .nav-item .nav-link {
        padding: .3125rem .35rem
    }
}

@media (max-width: 992px) {
    .navbar-default .navbar-nav .nav-item .nav-link {
        border-bottom: 1px solid #ecebf1;
        padding: .5rem 0
    }

        .navbar-default .navbar-nav .nav-item .nav-link:hover {
            color: #000
        }
}

.navbar-default .navbar-nav .nav-item .nav-link:hover {
    /*color: #754ffe*/
}

.navbar-dark .navbar-brand {
    filter: brightness(0) invert(1)
}

.navbar-dark .navbar-toggler {
    border-color: #fff
}

    .navbar-dark .navbar-toggler .icon-bar {
        background-color: #fff
    }

    .navbar-dark .navbar-toggler.collapsed .top-bar {
        background-color: #fff;
        transform: rotate(0)
    }

    .navbar-dark .navbar-toggler.collapsed .middle-bar {
        opacity: 1
    }

    .navbar-dark .navbar-toggler.collapsed .bottom-bar {
        background-color: #fff;
        transform: rotate(0)
    }

.navbar-dark .navbar-nav .nav-link {
    color:#fff;
    border-bottom: transparent;
    font-weight: 500;
    padding: .3125rem .35rem
}

.navbar-dark form .form-control {
    background-color: #413c5e;
    border-color: #413c5e;
    color: #fff
}

.navbar-dark .search-icon {
    color: #beb9cd
}

.navbar-light .navbar-brand {
    filter: brightness(1) invert(0)
}

.navbar-light .navbar-toggler {
    /*border-color: #ecebf1*/
}

    .navbar-light .navbar-toggler .icon-bar {
        /*background-color: #ecebf1*/
    }

    .navbar-light .navbar-toggler.collapsed .top-bar {
        /*background-color: #ecebf1;*/
        transform: rotate(0)
    }

    .navbar-light .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-light .navbar-toggler.collapsed .bottom-bar {
        /*background-color: #ecebf1;*/
        transform: rotate(0);
    }

.navbar-light .navbar-nav .nav-item .nav-link {
    border-bottom: transparent;
    font-weight: 500;
    padding: .3125rem .35rem;
    color: #000;
}

    .navbar-light .navbar-nav .nav-item .nav-link.active {
        color: #fff;
        /*background-color: #0d6efd;*/
    }
    .navbar-light .navbar-nav .nav-item .nav-link.active, .navbar-light .navbar-nav .nav-item .nav-link:hover {
        /*color: #fff;
        background-color: #0d6efd;*/
    }

.navbar-light .navbar-nav .nav-divider {
    border-top: 1px solid #ecebf1
}

.navbar-transparent {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
    .navbar-transparent {
        position: relative
    }
}

.footer {
    color: #5c5776
}

.nav-footer .nav-link {
    /*color: #5c5776;*/
    font-size: .875rem;
    line-height: 1.5rem;
    padding: .2rem 1rem
}

    .nav-footer .nav-link:hover {
       /* color: #754ffe*/
    }

.nav-x-0 .nav-link {
    padding-left: 0;
    padding-right: 0
}

.text-link {
    color: #5c5776
}

    .text-link:hover {
        color: #754ffe
    }

.nav-lb-tab {
    border-bottom: 1px solid #e8e7ed
}

@media (max-width: 576px) {
    .nav-lb-tab {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden
    }

        .nav-lb-tab::-webkit-scrollbar {
            display: none
        }
}

.nav-lb-tab .nav-item {
    margin: 0 1.5rem
}

    .nav-lb-tab .nav-item .nav-link {
        border-bottom: 2px solid transparent;
        border-radius: 0;
        font-weight: 500;
        margin-bottom: -1px;
        padding: 16px 0;
        white-space: nowrap
    }

        .nav-lb-tab .nav-item .nav-link.active, .nav-lb-tab .nav-item .nav-link:hover {
            background-color: transparent;
            border-bottom: 2px solid #754ffe;
        }

.nav-lt-tab {
    border-top: 1px solid #e8e7ed
}

@media (max-width: 576px) {
    .nav-lt-tab {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden
    }

        .nav-lt-tab::-webkit-scrollbar {
            display: none
        }
}

.nav-lt-tab .nav-item {
    margin: -.0625rem 1rem 0
}

    .nav-lt-tab .nav-item .nav-link {
        border-radius: 0;
        border-top: 2px solid transparent;
        color: #79758f;
        font-weight: 500;
        padding: 1rem 0
    }

        .nav-lt-tab .nav-item .nav-link.active, .nav-lt-tab .nav-item .nav-link:hover {
            background-color: transparent;
            border-top: 2px solid #754ffe;
            color: #754ffe
        }

.flush-nav .nav .nav-link {
    color: #79758f;
    font-weight: 500;
    padding: 1.5rem
}

    .flush-nav .nav .nav-link.active, .flush-nav .nav .nav-link:hover {
        color: #754ffe
    }

@media (max-width: 576px) {
    .flush-nav .nav {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden
    }

        .flush-nav .nav::-webkit-scrollbar {
            display: none
        }
}

.nav-line-bottom {
    border-bottom: 1px solid #ecebf1
}

@media (max-width: 576px) {
    .nav-line-bottom {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden
    }

        .nav-line-bottom::-webkit-scrollbar {
            display: none
        }
}

.nav-line-bottom .nav-item .nav-link {
    border-radius: 0;
    font-weight: 500;
    margin-bottom: -1px;
    padding: 1.2rem;
    white-space: nowrap
}

@media (max-width: 576px) {
    .nav-line-bottom .nav-item .nav-link {
        padding: .8rem
    }
}

.nav-line-bottom .nav-item .nav-link.active {
    background-color: transparent;
    border-bottom: 1px solid #754ffe;
}

@media (max-width: 576px) {
    .nav-line-bottom .nav-item .nav-link.active {
        padding: .747rem
    }
}

.nav-line-bottom .nav-item .nav-link:hover {
    background-color: transparent;
    border-bottom: 1px solid #754ffe;
}

.nav-line-bottom .nav-item .nav-link .badge {
    line-height: 1.4
}

.nav-top-line-tab.nav {
    border-top: 1px solid #ecebf1
}

    .nav-top-line-tab.nav .nav-item .nav-link {
        border: 1px solid transparent;
        border-radius: 0;
        font-weight: 500;
        margin-top: -1px;
        padding: 1.2rem 1.5rem
    }

@media (max-width: 576px) {
    .nav-top-line-tab.nav .nav-item .nav-link {
        padding: .8rem
    }
}

.nav-top-line-tab.nav .nav-item .nav-link.active {
    background-color: transparent;
    border-top: 1px solid #754ffe;
}

@media (max-width: 576px) {
    .nav-top-line-tab.nav .nav-item .nav-link.active {
        padding: .747rem
    }
}

.nav-top-line-tab.nav .nav-item .nav-link:hover {
    background-color: transparent;
    border-top: 1px solid #754ffe;
}

.nav-top-line-tab.nav .nav-item .nav-link .badge {
    line-height: 1.4
}

@media (max-width: 576px) {
    .nav-top-line-tab.nav {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden
    }

        .nav-top-line-tab.nav::-webkit-scrollbar {
            display: none
        }
}

.nav.btn-group .btn-outline-white.active {
    background-color: #754ffe;
    border-color: #754ffe;
    color: #fff
}


ul#passengerList {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}

li.delta.passenger.swiper-slide.selected {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: #ffffff;
    background-color: #ffffff;
    border: 1px solid #9da6ab;
    bottom: 0px;
    box-sizing: border-box;
    color: #36495a;
    display: flex;
    flex-shrink: 0;
    font-family: AmericanSans, Helvetica, Arial, sans-serif;
    font-size: 17.9999px;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: 100%;
    justify-content: center;
    left: 0px;
    line-height: 24px;
    list-style: outside none none;
    margin: 0px;
    margin-bottom: 10px;
    min-width: 80px;
    padding: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: baseline;
    width: 100%;
}

button#passenger1 {
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #0078d2;
    border-bottom-left-radius: 4.00001px;
    border-bottom-right-radius: 4.00001px;
    border-radius: 0.25em;
    border-top-left-radius: 4.00001px;
    border-top-right-radius: 4.00001px;
    box-sizing: border-box;
    color: #36495a;
    display: block;
    font-family: AmericanSans, Helvetica, Arial, sans-serif;
    font-size: 1.14286rem;
    height: 100%;
    list-style: outside none none;
    overflow: visible;
    padding: 0px 1px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    width: 100%;
}

    button#passenger1:focus {
        border: 2px solid #0078d2;
        box-shadow: #b0d1e8 0px 0px 6px;
        outline: none;
    }

    button#passenger1:hover {
        box-shadow: #9da6ab 0px 0px 3px;
    }

div.row-noBreak {
    border: 0px;
    border-left: 1px solid #9da6ab;
    bottom: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    left: 0px;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: -2.13178%;
    padding: 8px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: baseline;
}

    div.row-noBreak:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

    div.row-noBreak:first-child {
        border: none;
        text-align: left;
    }

    div.row-noBreak::after {
        clear: both;
        content: "";
        display: table;
    }

    div.row-noBreak::before {
        content: "";
        display: table;
    }

div.span8.passengerName {
    border: 0px;
    border-left: 1px solid #9da6ab;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    float: left;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: 2.13178%;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    width: 64.5349%;
}

    div.span8.passengerName:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

    div.span8.passengerName:first-child {
        border: none;
        text-align: left;
    }

img {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: -4px 0px 0px -6px;
    max-width: 100%;
    padding: 0px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 25px;
}

span {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    vertical-align: baseline;
    white-space: nowrap;
}

    span:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

div.span2.pushLeft.seatNumber {
    border: 0px;
    border-left: 1px solid #9da6ab;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    float: left;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: 0px;
    padding: 8px;
    text-align: center;
    vertical-align: baseline;
    width: 16.6667%;
}

    div.span2.pushLeft.seatNumber:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

div.span2.pushLeft.priceDisplay {
    border: 0px;
    border-left: 1px solid #9da6ab;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    float: left;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: 0px;
    padding: 8px;
    padding-right: 1px;
    text-align: center;
    vertical-align: baseline;
    width: 16.6667%;
}

    div.span2.pushLeft.priceDisplay:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

span.cashValue {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: baseline;
}

    span.cashValue:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

span.milesValue {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    display: none;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: baseline;
}

    span.milesValue:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

div.hidden-accessible {
    border: 0px;
    border-left: 1px solid #9da6ab;
    bottom: -14px;
    box-sizing: border-box;
    clip: rect(0px, 0px, 0px, 0px);
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: 1px;
    left: 2px;
    line-height: inherit;
    list-style: outside none none;
    margin: -1px;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    right: 390.8px;
    text-align: center;
    top: 55px;
    vertical-align: baseline;
    width: 1px;
}

    div.hidden-accessible:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

span.js-a11yPassengerInfo {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: baseline;
}

    span.js-a11yPassengerInfo:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

li.delta.passenger.swiper-slide {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: #ffffff;
    background-color: #ffffff;
    border: 1px solid #9da6ab;
    bottom: 0px;
    box-sizing: border-box;
    color: #36495a;
    display: flex;
    flex-shrink: 0;
    font-family: AmericanSans, Helvetica, Arial, sans-serif;
    font-size: 17.9999px;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: 100%;
    justify-content: center;
    left: 0px;
    line-height: 24px;
    list-style: outside none none;
    margin: 0px;
    margin-bottom: 10px;
    min-width: 80px;
    padding: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: baseline;
    width: 100%;
}

button#passenger2 {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #9da6ab;
    border-bottom-left-radius: 4.00001px;
    border-bottom-right-radius: 4.00001px;
    border-radius: 0.25em;
    border-top-left-radius: 4.00001px;
    border-top-right-radius: 4.00001px;
    box-sizing: border-box;
    color: #36495a;
    display: block;
    font-family: AmericanSans, Helvetica, Arial, sans-serif;
    font-size: 1.14286rem;
    height: 100%;
    list-style: outside none none;
    overflow: visible;
    padding: 0px 1px;
    text-decoration: none;
    width: 100%;
}

    button#passenger2:focus {
        border: 1px solid #d0dae0;
        outline: none;
    }

    button#passenger2:hover {
        box-shadow: #9da6ab 0px 0px 3px;
    }

#passenger2 .row-noBreak {
    border: 0px;
    border-left: 1px solid #9da6ab;
    bottom: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    left: 0px;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: -2.13178%;
    padding: 8px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: baseline;
}

    #passenger2 .row-noBreak:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

    #passenger2 .row-noBreak:first-child {
        border: none;
        text-align: left;
    }

    #passenger2 .row-noBreak::after {
        clear: both;
        content: "";
        display: table;
    }

    #passenger2 .row-noBreak::before {
        content: "";
        display: table;
    }

#passenger2 .span8 {
    border: 0px;
    border-left: 1px solid #9da6ab;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    float: left;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: 2.13178%;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    width: 64.5349%;
}

    #passenger2 .span8:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

    #passenger2 .span8:first-child {
        border: none;
        text-align: left;
    }

[src='\/content\/images\/seatMap\/seats\/pax_grey2\@2x\.png'] {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: -4px 0px 0px -6px;
    max-width: 100%;
    padding: 0px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 25px;
}

#passenger2 .span8 span {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    vertical-align: baseline;
    white-space: nowrap;
}

    #passenger2 .span8 span:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

#passenger2 .seatNumber {
    border: 0px;
    border-left: 1px solid #9da6ab;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    float: left;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: 0px;
    padding: 8px;
    text-align: center;
    vertical-align: baseline;
    width: 16.6667%;
}

    #passenger2 .seatNumber:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

#passenger2 .priceDisplay {
    border: 0px;
    border-left: 1px solid #9da6ab;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    float: left;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    margin-left: 0px;
    padding: 8px;
    padding-right: 1px;
    text-align: center;
    vertical-align: baseline;
    width: 16.6667%;
}

    #passenger2 .priceDisplay:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

#passenger2 .cashValue {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: baseline;
}

    #passenger2 .cashValue:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

#passenger2 .milesValue {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    display: none;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: baseline;
}

    #passenger2 .milesValue:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

#passenger2 .hidden-accessible {
    border: 0px;
    border-left: 1px solid #9da6ab;
    bottom: -13px;
    box-sizing: border-box;
    clip: rect(0px, 0px, 0px, 0px);
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: 1px;
    left: 2px;
    line-height: inherit;
    list-style: outside none none;
    margin: -1px;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    right: 390.8px;
    text-align: center;
    top: 54px;
    vertical-align: baseline;
    width: 1px;
}

    #passenger2 .hidden-accessible:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

#passenger2 .js-a11yPassengerInfo {
    border: 0px;
    box-sizing: border-box;
    color: #36495a;
    cursor: default;
    font-family: inherit;
    font-size: 100%;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: baseline;
}

    #passenger2 .js-a11yPassengerInfo:focus {
        outline: rgb(176, 209, 232) solid 2px;
    }

@media screen and (max-width: 767px) {
    div.span8.passengerName {
        float: left;
        margin-left: 2.13178%;
    }

    div.span2.pushLeft.seatNumber {
        float: left;
        margin-left: 0px;
    }

    div.span2.pushLeft.priceDisplay {
        float: left;
        margin-left: 0px;
    }

    #passenger2 .span8 {
        float: left;
        margin-left: 2.13178%;
    }

    #passenger2 .seatNumber {
        float: left;
        margin-left: 0px;
    }

    #passenger2 .priceDisplay {
        float: left;
        margin-left: 0px;
    }
}

.passengerList li.selected {
    border: 2px solid #0078d2;
}