html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #070E27;*/
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 10px;
    right: 10px;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 20px;
}

.large-text {
    font-size: 24px;
}

/*.form-floating-group input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-icon-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}*/
.input-group:not(.has-validation) .form-floating:not(:last-child) > :not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) .form-floating > .dropdown-toggle:nth-last-child(n+3) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group.has-validation .form-floating:nth-last-child(n+3) > :not(.dropdown-toggle):not(.dropdown-menu),
.input-group.has-validation .form-floating > .dropdown-toggle:nth-last-child(n+4) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .form-floating:not(:first-child) > :not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    /*margin-left: -1px;*/
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* for form to be responsive */
.input-group > .form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.list {
    padding-left: 0;
    width: 30%;
}

    .list li {
        list-style: none;
    }

    .list a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        text-decoration: none;
        color: black;
    }

        .list a:after {
            display: inline-block;
            padding-left: 10px;
            padding-right: 5px;
            font-family: FontAwesome;
            content: "\f054";
        }