@model Group21ProjectMVC.Models.ManageViewModels.AddFlightsViewModel

@{
    ViewData["Title"] = "AddFlights";
    ViewData["ActivePage"] = ManageNavPages.AddFlights;
}

<h1>AddFlights</h1>

<hr />
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-8">
        <form asp-action="AddFlights">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-6 form-group">
                    <label asp-for="StartingDate" class="control-label"></label>
                    <input asp-for="StartingDate" class="form-control" />
                    <span asp-validation-for="StartingDate" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="EndingDate" class="control-label"></label>
                    <input asp-for="EndingDate" class="form-control" />
                    <span asp-validation-for="EndingDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6 form-group">
                    @Html.ListBoxFor(m => m.AirportsIdSelected, new SelectList(Model.Airports, "Value", "Text"),htmlAttributes: new {@class = "MultiSelectListBox w-100"})
                </div>
                <div class="col-6 form-group">
                    @Html.ListBoxFor(m => m.TimesIdSelected, new SelectList(Model.Times, "Value", "Text"),htmlAttributes: new {@class = "MultiSelectListBox"})
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 form-group">
                    <div class="form-group">
                        <label asp-for="Airline"></label>
                        <select asp-for="Airline" class="form-select" name="Airline">
                            @foreach(var airline in Model.Airlines)
                            {
                                <option>@airline</option>
                            }
                        </select>
                        <span asp-validation-for="Airline" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {

<script type="text/javascript">
        $('.MultiSelectListBox').multiselect({
            includeSelectAllOption: true,
        templates: {
            button: '<button type="button" class="multiselect dropdown-toggle form-select" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>'
        },
    });
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
